<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h3>Basket of Puppies</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><h3>Home</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/owners"><h3>View Owners</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dogs"><h3>View Dogs</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/activities"><h3>Daily Activities</h3></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <style>
    h3 {
      color: white;
    }
  </style>