<div class="container">
        <div class="row">
                <div class="col-5">
                        <form class="addDogToOwner">
                                <label for="name">Dog name:</label><br>
                                <input type="text" id="dog_name" name="dog_name"><br>
                                <p>Owner Name:</p>
                                <p value={{id}}>
                                    {{#each owners}}
                                    {{owner_name}}
                                    {{/each}}
                                    </p><br>
                                <label for="shots">Up to date on shots?</label><br>
                                <select id="shots" name="shots" value="Yes" style=style="width:20px; height:20px"><br>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                </select><br>
                                <label for="meds">Does dog require medicine?</label><br>
                                <select id="meds" name="meds"><br>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                </select><br><br>
                                <input type="submit" value="Add Dog!" class="btn btn-info">
                                <button class="invisible btn btn-primary">Add another dog for this owner></button></span>
                        </form>
                </div>
                <div class="col-7">
                        <img class="mb-4" src="assets/img/puppy3.png" alt="puppy">
                </div>
        </div>
</div>