<div class="container">
        <div class="row">
                <div class="col-5">
                        <form class="addDog">
                                <label for="name">Dog name:</label><br>
                                <input type="text" id="dog_name" name="dog_name"><br>
                                <label for="owner name">Owner Name:</label>
                                <select id="owner_name" name="owner_name" placeholder="Owner Name">

                                        {{#each owners}}
                                        <option value="{{owner_name}}">
                                        {{owner_name}}
                                        </option>
                                        {{/each}}

                                </select><br>
                                <label for="shots">Up to date on shots?</label><br>
                                <input type="checkbox" id="shots" name="shots" value="true"><br>
                                <label for="meds">Does dog require medicine?</label><br>
                                <input type="checkbox" id="meds" name="meds" value="true"><br>
                                <input type="submit" value="Add Dog!" class="btn btn-info">
                        </form>
                </div>
                <div class="col-7">
                        <img class="mb-4" src="assets/img/puppy3.png" alt="puppy">
                </div>
        </div>
        {{!-- {{#each owners}}
        {{owner_name}}
        {{/each}} --}}
</div>