<div class="container">
        <div class="row">
                <div class="col-5">
                        <form class="addDog">
                                <label for="name">Dog name:</label><br>
                                <input type="text" id="dog_name" name="dog_name"><br>
                                <label for="owner-select">Owner Name:</label> 
                                <select id="owner-select" name="owner-select" placeholder="Owner Name">
                                        <option value="" disabled selected>Owner Name</option>
                                        {{#each owners}}
                                        <option value="{{id}}">
                                                {{owner_first_name}} {{owner_last_name}}
                                        </option>
                                        {{/each}}

                                </select><br>
                                <label for="shots">Up to date on shots?</label><br>
                                <select id="shots" name="shots" value="Yes" style=style="width:20px; height:20px" placeholder="Shots?"><br>
                                        <option value="" disabled selected>Shots?</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                </select><br>
                                <label for="meds">Does dog require medicine?</label><br>
                                <select id="meds" name="meds"><br>
                                        <option value="" disabled selected>Meds?</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                </select><br><br>
                                <input type="submit" value="Add Dog!" class="btn btn-info">
                        </form>
                </div>
                <div class="col-7">
                        <img class="mb-4" src="assets/img/puppy3.png" alt="puppy">
                </div>
        </div>
</div>