<div class="container">
        <div class="row">
                <div class="col-5">
                        <form class="addOwner">
                                <label for="owner name">Owner's name:</label><br>
                                <input type="text" id="owner_name" name="owner_name"><br>
                                <label for="owner phone">Owner's phone number:</label><br>
                                <input type="text" id="owner_phone" name="owner_phone"><br>
                                <label for="owner email">Owner's email:</label><br>
                                <input type="text" id="owner_email" name="owner_email"><br>
                                <label for="alt pickup">Name of alternate pickup person:</label><br>
                                <input type="text" id="alt_pickup_name" name="alt_pickup_name"><br></br>
                                <input type="submit" value="Add Owner!" class="btn btn-info">
                        </form>
                </div>
                <div class="col-7">
                        <img class="mb-4" src="assets/img/owner-2.png" alt="puppy">
                </div>
        </div>
</div>