{{!-- needs handlebars helpers from a js file to search and update on this page --}}
<div class="container">
 <div class="row justify-content-center">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <ul>
      <li>
        {{!-- needs handlebars to post data on dogs from the database --}}
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
    </ul>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</div>
 <img id="puppy-one" class="rounded" src="assets/img/puppy3.png" alt=""  height= "230px" width="300px"> 
 </div>
</div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{dog}}</h5>
    <ul>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
    </ul>
    <button class="btn btn-light" type="submit">Update</button>
  </div>
</div>
 <img id="puppy-one" class="rounded" src="assets/img/puppy4.png" alt="" > 
 </div>
</div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <ul>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
      <li>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </li>
    </ul>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</div>
 <img id="puppy-one" class="rounded" src="assets/img/puppy5.png" alt="" > 
</div>
</div>
<div class="container">
<div class="row justify-content-center">
  <div>
    {{!-- need to fix the layout the add and search buttons --}}
  <button class="btn btn-primary btn-lg" type="submit" id="add">Add Dog</button>
   <button class="btn btn-primary btn-lg" type="submit" id="search">Search</button>
  </div>
</div>
</div>