<form class="container">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputOwnername">Owner's Name</label>
      <input type="email" class="form-control" id="inputownername" placeholder="Name">
    </div>
    <div class="form-group col-md-4">
      <label for="owner-num">Phone Number</label>
      <input type="phone-num" class="form-control" id="owner-num" placeholder="Phone Number">
    </div>
    <div class="form-group col-md-4">
      <label for="input-alt-pickup">Alternate Pickup</label>
      <input type="alt-pickup" class="form-control" id="input-alt-pickup" placeholder="Alternate Pickup">
    </div>
  </div>
  <div class="form-group">
    <label for="dog-info">Dog Name</label>
    <input type="text" class="form-control" id="dog" placeholder="Enter Dog's Name">
  </div>
  <div class="form-group">
    <label for="dog-meds">Medication</label>
    <input type="text" class="form-control" id="dog-meds" placeholder="Medication">
  </div>
  <div class="form-group">
    <label for="dog-shots">Medical Shots</label>
    <input type="text" class="form-control" id="dog-shots" placeholder="Medical Shots">
  </div>
  </div>
  <button type="submit" class="btn btn-primary" id="create-dog">Complete</button>
</form>

{{!-- need a update.js or add dog.js file  --}}